In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)

In [5]:
data = pd.read_csv('housing_price.csv', delimiter = ';')
housing_prices = pd.DataFrame(data)

In [7]:
housing_prices.head()

   ID  RegioS  Perioden  GemiddeldeVerkoopprijs_1
0   0  NL01    1995JJ00                   93750.0
1   1  NL01    1996JJ00                  102607.0
2   2  NL01    1997JJ00                  113163.0
3   3  NL01    1998JJ00                  124540.0
4   4  NL01    1999JJ00                  144778.0